Flask
Flask-SQLAlchemy
psycopg2-binary
psycopg2
PyMySQL
SQLAlchemy
SQLAlchemy-Utils
flask_sqlalchemy
click==7.1.1
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
scramp==1.1.1
Werkzeug==1.0.0
six==1.14.0
Unidecode
wheel
flask-cors